html {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;

    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;

    background: linear-gradient(135deg, rgba(32,33,36,1) 10%, rgb(11, 12, 14) 100%);
    color: white;

    font-size: 20px;

    z-index: 5;
}

img {
    z-index: 6;
}


/*
 * Base Formatting
 */
div#content {
    padding: 10px 15%;
    padding-top: 50px;
    margin: 0px;

    overflow: hidden;
}

header {
    position: fixed;
    width: 90%;
    height: 100px;
    
    background: #202124;
    border-bottom: 1px solid #686970;

    line-height: 100px;
    overflow: hidden;

    padding: 0px 5%;
    z-index: 10;
}

footer {
    width: auto;
    margin: 0%;

    background: #303134;
    overflow: hidden;
}

/*
 * Header Element Formatting
 */
 header img.logo {
    height: 100%;

    float: left;
    margin-right: 2.5%;
 }

 header h3 {
    font-weight: 500;
    font-size: 30px;

    float: left;
    text-align: center;
    transform: translateY(-30px);
 }

 header p.link {
    font-size: 18px;
    font-weight: 600;

    text-decoration: none;
 }

 header button.menu-button {
    float: right;

    padding: 0px 1.5%;
    cursor: pointer;

    background: #202124;
    color: #a4a8ad;
    border-radius: 2px;

    transition-duration: 100ms;
    text-decoration: none;
    border: none;
    height: 100px;
 }

 header button.menu-button:hover {
    background: #28282c;

    color: white;
 }


 /*
  * Content Element Formatting
  */
div#content section {
    padding-top: 6%;
    padding-bottom: 5%;
    margin: 5% 15%;

    text-align: center;

    border-radius: 2px;
}

div#content h3 {
    font-weight: 500;
    font-size: 35px;

    margin-bottom: 2%;
}

/*
 * Experience Element Formatting
 */
div.experience-element-left, div.experience-element-right {
    width: 50%;
    height: 125px;
    margin: 1% 25%;
    padding: 2% 0%;

    display: inline-block;
    border-bottom: 1px dotted rgba(104, 105, 112, 0.459);
}

div.experience-icon img {
    width: 75%;
    height: 75%;
    transform: translateY(15%);

    margin: 0%;
    text-align: center;
}

div.experience-description p {
    margin: 10px;
    padding: 5px;
    color: #a4a8ad;
    font-style: italic;
}

div.experience-element-left h3, div.experience-element-right h3 {
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

div.experience-element-left div.experience-icon {
    height: 100%;
    width: 125px;
    border-radius: 50%;

    margin: 0%;
    margin-right: 2.5%;
    float: left;

    box-shadow: 5px 10px 3px 3px rgba(0, 0, 0, 0.137);
}

div.experience-element-left div.experience-description {
    height:  100%;

    float: left;
}

div.experience-element-right div.experience-icon {
    height: 100%;
    width: 125px;
    border-radius: 50%;

    margin: 0%;
    margin-left: 2.5%;
    float: right;

    box-shadow: 5px 10px 3px 3px rgba(0, 0, 0, 0.137);
}

div.experience-element-right div.experience-description {
    height:  100%;

    float: right;
}

div.experience-description h3 {
    font-size: 20px;
}

 /*
  * Footer Element Formatting
  */
footer section {
    padding-top: 3%;
    padding-bottom: 50px;
    padding-left: 25%;
    padding-right: 25%;
    margin: 25px 5%;
    margin-bottom: 10px;

    text-align: center;

    border-bottom: 1px solid #686970;
}

footer h3 {
    font-weight: 500;
    font-size: 30px;

    margin-bottom: 2%;
}

footer div.bottom {
    margin: 1% 10%;
    height: 50px;
}

footer p {
    color: #a4a8ad;
    float: right;

    font-size: 15px;
}

footer img.logo {
    height: 150%;

    float: left;
    transform: translateY(-12.5%);
}

/*
 * Socials Section Formatting
 */

div.social-section {
    width: 80%;
    height: 100px;
    margin: 1% 10%;
    display: inline-block;
}

div.social {
    height: 100%;
    width: 100px;

    border-radius: 50%;
    background: black;
    margin: 15px 75px;

    display: inline-block;
    box-shadow: 5px 10px 3px 3px rgba(0, 0, 0, 0.137);
    cursor: pointer;
}

div.social img {
    height: 75px;
    width: 75px;
    margin: 0px auto;
    transform: translateY(12.5%);
}

div.social .social-tooltip {
    opacity: 0.0;
    height: 35px;
    width: 0px;
    font-size: 0px;
    background: linear-gradient(135deg, rgba(32,33,36,1) 10%, rgb(11, 12, 14) 100%);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 9;

    transition-duration: 100ms;
    transform: translate(-65%, -85%);
}
  
div.social:hover .social-tooltip {
    opacity: 1.0;
    width: 250px;
    font-size: 23px;
    box-shadow: 5px 10px 5px 3px rgba(0, 0, 0, 0.137);
}

/*
 * Projects Element Formatting
 */

div.project-element-left, div.project-element-right {
    width: 70%;
    max-width: 700px;
    min-height: 300px;
    padding: 0 10px;
    float: left;

    border-radius: 10px;
    box-shadow: 5px 10px 3px 3px rgba(0, 0, 0, 0.137);
    background: #262729;
    background: linear-gradient(135deg, #262729 10%, rgb(40, 40, 46) 100%);

    margin: 25px 0px;

    transition-duration: 200ms;
    opacity: 0;
    transform: translate(200px, 0px);
}

div.project-element-right {
    float: right;
    transform: translate(-200px, 0px);
}

div.project-element-left p, div.project-element-right p {
    color:rgb(201, 195, 195);
}

div.project-link-section {
    height: 50px;
    margin: 10px 10px;
    border-top: 1px solid #686970;
}

div.project-link {
    height: 100%;
    width: 50px;

    border-radius: 50%;
    background: black;
    margin: 3% 5px;

    display: inline-block;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.137);
    cursor: pointer;
}

div.project-link img {
    height: 40px;
    width: 40px;
    margin: 0px auto;
    transform: translateY(12.5%);
}