img.photo {
    margin-left:50%;
    margin-right:auto;
    margin-top:10%;
    margin-bottom:10%;
    border-radius:10px;
    max-width: 100%;
    transform: translate(-50%, -0%);
}

div#main {
    padding: 0px;
    margin: 0px;
    
}

div#menu {
    position: fixed;
    width: 190px;
    height: 270px;
    opacity: 0.0;
    transition-duration: 500ms;
    right:-200px;
    top: 110px;
    background: linear-gradient(rgb(25, 25, 34), rgb(19, 19, 25));
    border-radius: 10px;
    border: 5px solid white;
}

div#menu h1 {
    text-align: center;
    padding-bottom: 20px;
}

div#menu p {
    opacity: 0.7;
    transition-duration: 500ms;
}

div#menu p:hover {
    opacity: 1.0;
}

div#footer {
    position: fixed;
    margin: 0px;
    padding: 5px;
    bottom: 0%;
    left: 10px;
    opacity: 0.2;
    transition-duration: 500ms;
}

div.section {
    padding-bottom: 100px;
}

div#featured-table, div#past-work-table {
    margin: 50px;
    display: flex;
}
div#experience-table {
    margin: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    background: linear-gradient(rgb(25, 34, 34), rgb(19, 19, 25));
    border-radius: 10px;
    border: 5px solid white;
    transition-duration: 600ms;
    opacity: 0.2;
}

div#experience-table:hover, div#past-work-table:hover {
    opacity: 1.0;
}

div.featured-project, div.past-work-part  {
    margin: 10px;
    flex: 30%;
    width: 100%;
    background: linear-gradient(rgb(25, 34, 34), rgb(19, 19, 25));
    border-radius: 10px;
    border: 5px solid white;
    overflow: hidden;
    transition-duration: 600ms;
    opacity: 0.2;
}

div.experience-part{
    margin: 10px;
    flex: 30%;
    width: 100%;
    overflow: hidden;
    transition-duration: 600ms;
    
}

div.experience-part img {
    width:20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

div.featured-project p {
    margin: 10px;
    transition-duration: 0ms;
}

div.featured-project:hover, div.experience-part:hover {
    padding-left: 60px;
    padding-right: 60px;
    opacity: 1.0;
}

div.past-work-part:hover {
    padding-left: 60px;
    padding-right: 60px;
    opacity: 1.0;
}

div#social {
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 0%;
    right: 10px;
}

div#social img {
    width: 30px;
    padding: 10px;
    transition-duration: 100ms;
}
div#social img:hover {
    width: 32px;
}

div#footer:hover {
    opacity: 1.0;
}

div#title {
    position: absolute;
    top: 100px;
    opacity: 0;
    left: 50%;
    transition-duration: 1000ms;
    padding-top: 50px;
    margin: 0px;
    transform: translate(-50%, 0%);
}

div#title h1 {
    font-size: 250%;
    padding: 0px;
    margin-bottom: 0px;

}

div#title p {
    top: 100px;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    transition-duration: 1200ms;
    text-align: center;
}

div#content {
    margin-top: 250px;
    opacity: 0.0;
    transition-duration: 1000ms;
}

img#menu-button {
    position: fixed;
    right: 65px;
    top: 65px;
    width: 70px;
    opacity: 0.7;
    transition-duration: 500ms;
    transform: translate(50%, -50%);
}

img#menu-button:hover {
    opacity: 1.0;
}

body {
    background:linear-gradient(rgb(9, 9, 15), rgb(10, 15, 15));
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

p,a,h1,h2,h3,h4,h5,h6 {
    text-align: center;
    text-decoration: none;
    color: white;
}

